html{
	background-color: #800000;	
}

#page{
	background-color: #ff0000;
}

.header{
	margin: 0px auto 53px;
	width: 93.75%;
}

.main{
	float: left;
	width: 62.888889%;
}

.sidebar{
	float: right;
	width: 36.777778%;	
}
